<p id="notice"><%= notice %></p>
<h1>Sign In</h1>
<%= form_for @user, :url => url_for(controller: "sessions", action: "create") do |f| %>
    <div class="form-group">
        <%= f.label :username, "Username:" %>
            <%= f.text_field :username, class: "form-control", required: "true" %>
    </div>
    <div class="form-group">
        <%= f.label :password, "Enter Password:" %>
            <%= f.password_field :password, class: "form-control", required: "true" %>
    </div>
    <%= f.submit "Sign In" %>
<% end %>