<%= form_with(model: comment, local: true) do |f| %>
    <%= f.fields_for :guest do |guest| %>
        <%= guest.label :first_name, "First Name" %>
            <%= guest.text_field :first_name, required: "true" %>
        <%= guest.label :last_name, "Last Name" %>
            <%= guest.text_field :last_name, required: "true" %><br>
        <%= guest.label :email, "Email Address" %>
            <%= guest.text_field :email %><br>
        <%= guest.label :email, "Phone" %>
            <%= guest.text_field :phone %><br>
    <% end %>
    <%= f.label :store_id, "Restaurant"%>
    <%= f.collection_select(:store_id, Store.all, :id, :store_number) %>
    <%= f.label :visit_date, "Incident Date"%>
    <%= f.date_field :visit_date, required: "true" %>
    <%= f.label :visit_time, "Incident Time"%>
    <%= f.time_field :visit_time, required: "true" %><br>
    <%= f.label :comment_type, "Type of Comment"%>
    <%= f.select :comment_type, Comment::COMMENT_TYPES, required: "true" %>
    <%= f.label :source, "Source of Comment" %>
    <%= f.select :source, Comment::SOURCE, required: "true" %>
    <%= f.label :urgent, "Urgent or General" %>
    <%= f.select :urgent, Comment::URGENT %><br>
    <%= f.label :case_number, "Case Number" %>
    <%= f.text_field :case_number, required: "true" %><br>
    <%= f.label :first_issue, "Customer Issue 1"%>
    <%= f.text_field :first_issue, required: "true" %><br>
    <%= f.label :first_issue_comment, "Details"%><br>
    <%= f.text_area :first_issue_comment, size: "50 x 4", required: "true"%><br>
    <%= f.label :second_issue, "Customer Issue 2"%>
    <%= f.text_field :second_issue %><br>
    <%= f.label :second_issue_comment, "Details"%><br>
    <%= f.text_area :second_issue_comment, size: "50 x 4"%><br>
    <%= f.label :third_issue, "Customer Issue 3"%>
    <%= f.text_field :third_issue %><br>
    <%= f.label :third_issue_comment, "Details"%><br>
    <%= f.text_area :third_issue_comment, size: "50 x 4" %><br>
    <%= f.label :contact_type, "Contact Type"%>
    <%= f.select :contact_type, Comment::CONTACT_TYPE %>
    <%= f.label :visit_type, "Order Point" %>
    <%= f.select :visit_type, Comment::ORDER_POINT %><br>
    <%= f.label :employee_named, "Employee Named"%>
    <%= f.text_field :employee_named %>
    <%= f.label :status, "Status"%>
    <%= f.select :status, Comment::STATUS %><br>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
