<div id="theShopForm">
    <%= form_for @shop do |s| %>
        <div id="shopSetup">
            <%= s.label :shopDate, "Date:" %>
                <%= s.date_field :shopDate, required: "true" %>
            <%= s.label :shopTime, "Time:" %>
                <%= s.time_field :shopTime, required: "true" %><br>
            <%= s.label :store_id, "Restaurant:" %>
                <%= s.collection_select(:store_id, Store.all, :id, :store_number, { prompt: true }) %>
            <div id="shopTypeChoice" class="traditional">
                <%= s.label :shopType, "FC or DT" %>
                    <%= s.select :shopType, Shop::SHOP_TYPE, { prompt: true } %>
            </div>
        </div>
        <div id="shiftManagment" >
            <h1>SHIFT MANAGEMENT</h1>
                <%= s.label :upFront, "Is the shift manager up front and visibly in charge?  " %>
                    <div class="form-check form-check-inline">
                        <%= s.radio_button :upFront ,"Yes", class: "form-check-input shopRadioButton" %>
                        <label class="form-check-label" for="shop_upFront_yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <%= s.radio_button :upFront ,"No", class: "form-check-input shopRadioButton" %>
                        <label class="form-check-label" for="shop_upFront_no">No</label>
                    </div>
                    <br>
                <%= s.label :mgrAppearance, "Is the Shift Manager Appearance Acceptable? (Shirt clean, Tie, Shoes, Name Tag)" %>
                    <%= s.radio_button :mgrAppearance ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :mgrAppearance ,"No"%><span class="shopRadioButton">No</span><br>

                <div class="traditional">
                    <%= s.label :headset, "Is the Shift Manager Wearing a Headset?" %>
                        <%= s.radio_button :headset ,"Yes"%><span class="shopRadioButton">Yes</span>
                        <%= s.radio_button :headset ,"No"%><span class="shopRadioButton">No</span><br>
                </div>

                <%= s.label :crewAppearance, "Is the Crew Appearance Acceptable? (Shirts Clean, Correct Shoes, Name Tags, Hats)" %>
                    <%= s.radio_button :crewAppearance ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :crewAppearance ,"No"%><span class="shopRadioButton">No</span><br>

                <%= s.label :r2d2Charts, "Are R2D2 Charts Posted and Current?" %>
                    <%= s.radio_button :r2d2Charts ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :r2d2Charts ,"No"%><span class="shopRadioButton">No</span><br>

                <%= s.label :rdm, "Are the RDM Boards Current?" %>
                    <%= s.radio_button :rdm ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :rdm ,"No"%><span class="shopRadioButton">No</span><br>

                <%= s.label :kiosks, "Were Kiosks Staffed and in use?" %>
                    <%= s.radio_button :kiosks ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :kiosks ,"No"%><span class="shopRadioButton">No</span>
                    <%= s.radio_button :kiosks ,"N/A"%><span class="shopRadioButton">N/A</span><br>

                <%= s.label :tableService, "Was Table Service Being Used During Your Visit?" %>
                    <%= s.radio_button :tableService ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :tableService ,"No"%><span class="shopRadioButton">No</span><br>

                <%= s.label :tableTent, "Are Benefits/Employment Table Tents Visible?" %>
                    <%= s.radio_button :tableTent ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :tableTent ,"No"%><span class="shopRadioButton">No</span><br>

                <%= s.label :shiftMgrComment, "COMMENTS:" %><br>
                    <%= s.text_area :shiftMgrComment, size: "60x4"%>
        </div>
        <div id="fast">
            <h1>FAST</h1>
            <div id="dt">
                <h3>DRIVE-THRU</h3>
                <table border="collapse">
                    <tr bgcolor="#C0B8B8">
                        <th>Start</th>
                        <th>At COD</th>
                        <th>Greeted</th>
                        <th>Order End</th>
                        <th>At Cashier</th>
                        <th>Change Given</th>
                        <th>At Present</th>
                        <th>Pulled</th>
                        <th>Total</th>
                    </tr>
                    <tr height="25px" bgcolor="grey">
                        <td><span id="orderStart"></span></td>
                        <td><span id="atcod"></span></td>
                        <td><span id="greeted"></span></td>
                        <td><span id="orderend"></span></td>
                        <td><span id="atcash"></span></td>
                        <td><span id="change"></span></td>
                        <td><span id="atpresent"></span></td>
                        <td><span id="pulledfwd"></span></td>
                        <td><span id="total"></span></td>
                    </tr>
                    <tr>
                        <td><input type="button" name="startButton" id="startButton" onClick="startTimer()" value="Start"></td>
                        <td><input type="button" name="codButton" id="codButton" value="At COD" onclick="codtimer()"></td>
                        <td><input type="button" name="greetedButton" id="greetedButton" value="Greeted" onClick="greettimer()"></td>
                        <td><input type="button" name="oeButton" id="oeButton" value="Order End" onClick="oetimer()"></td>
                        <td><input type="button" name="cashierButton" id="cashierButton" value="At Cash" onClick="cashtimer()"></td>
                        <td><input type="button" name="changeButton" id="changeButton" value="Change Given" onClick="changetimer()"></td>
                        <td><input type="button" name="presentButton" id="presentButton" value="At Present" onClick="presenttimer()"></td>
                        <td><input type="button" name="pulledButton" id="pulledButton" value="Pulled" onClick="pftimer()"></td>
                        <td><input type="button" name="endButton" id="endButton" value="Done" onClick="donetimer()"></td>
                    </tr>
                </table>
                <%= s.label :waitTime, "Enter Wait Time: "%>
                    <%= s.text_field :waitTime, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :responseTime, "Enter Response Time: "%>
                    <%= s.text_field :responseTime, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :presentTime, "Enter Present Time:  "%>
                    <%= s.text_field :presentTime, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :oepTime, "Enter Order End To Present Time: "%>
                    <%= s.text_field :oepTime, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :totalTime, "Enter Total Time: "%>
                    <%= s.text_field :totalTime, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :pullForward, "Were you pulled forward?" %>
                        <%= s.radio_button :pullForward ,"Yes"%><span class="shopRadioButton">Yes</span>
                        <%= s.radio_button :pullForward ,"No"%><span class="shopRadioButton">No</span>

                <div class="pulledForwardYes">
                    <%= s.label :pullForwardTime, "Enter how long you were pulled forward: "%>
                        <%= s.text_field :pullForwardTime, placeholder: "Enter Time In Seconds" %><br>
                </div>

                <%= s.label :numberCars, "Number of cars between COD & You, include car at COD: "%>
                    <%= s.text_field :numberCars %><br>

                <%= s.label :tandem, "If Tandem/HHOT, was second order point in use?" %>
                        <%= s.radio_button :tandem ,"Yes"%><span class="shopRadioButton">Yes</span>
                        <%= s.radio_button :tandem ,"No"%><span class="shopRadioButton">No</span>
                        <%= s.radio_button :tandem ,"N/A"%><span class="shopRadioButton">N/A</span><br>
            </div>
            <div id="fc">
                <h3>FRONT COUNTER</h3>
                <table border="solid">
                    <tr bgcolor="">
                        <th>Start</th>
                        <th>Greeted</th>
                        <th>Order Complete</th>
                        <th>Change Given</th>
                        <th>Rcvd Food</th>
                    </tr>
                    <tr height="25px" bgcolor="grey">
                        <td><span id="fcstart"></span></td>
                        <td><span id="fcgreeted"></span></td>
                        <td><span id="fcordercomplete"></span></td>
                        <td><span id="fcchange"></span></td>
                        <td><span id="fcdone"></span></td>
                    </tr>
                    <tr>
                        <td><input type="button" id="fcstartbutton" value="Start" onClick="fcstarttimer()"></td>
                        <td><input type="button" id="fcgreetbutton" value="Greeted" onClick="fcgreettimer()"></td>
                        <td><input type="button" id="fcorderbutton" value="Order Done" onClick="fcoctimer()"></td>
                        <td><input type="button" id="fcchangebutton" value="Change Given" onClick="fcchangetimer()"></td>
                        <td><input type="button" id="fcdonebutton" value="Done" onClick="fctotaltimer()"></td>
                    </tr>
                </table>
                <%= s.label :fcWaitTime, "Enter Wait Time: "%>
                    <%= s.text_field :fcWaitTime, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :fcDeliveryTIme, "Enter Delivery Time: "%>
                    <%= s.text_field :fcDeliveryTIme, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :fcTotalTime, "Enter Total Time: "%>
                    <%= s.text_field :fcTotalTime, placeholder: "Enter Time In Seconds" %><br>

                <%= s.label :numberGuests, "Number of guests ahead of you in line: " %>
                    <%= s.text_field :numberGuests %><br>
            </div>

                <%= s.label :fastComment, "COMMENTS:" %><br>
                        <%= s.text_area :fastComment, size: "60x4"%>
        </div>
        <div id="accurate">
            <h1>ACCURATE</h1>
            <%= s.label :itemsOrdered, "Items Ordered:" %><br>
                <%= s.text_area :itemsOrdered, size: "60x4"%><br>

            <div class="wm">
                <%= s.label :popcornFull, "Is Popcorn Tree Visible with at least half the tree full?" %>
                    <%= s.radio_button :popcornFull ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :popcornFull ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <%= s.label :completeOrder, "Did you receive all food and drink items that were ordered?" %>
                <%= s.radio_button :completeOrder ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :completeOrder ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :condiment, "Did you receive all requested condiments? (Sauces, Jelly, Napkins, Straws, Stirrers)" %>
                <%= s.radio_button :condiment ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :condiment ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :condimentBag, "Did the condiments come in a condiment bag separate from your order?" %>
                <%= s.radio_button :condimentBag ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :condimentBag ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :readerboard, "Is the Reader Board Message Correct? " %>
                <%= s.radio_button :readerboard ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :readerboard ,"No"%><span class="shopRadioButton">No</span>
                <%= s.radio_button :readerboard ,"N/A"%><span class="shopRadioButton">N/A</span><br>

            <%= s.label :marketing, "Is the POP/Marketing Correct? " %>
                <%= s.radio_button :marketing ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :marketing ,"No"%><span class="shopRadioButton">No</span><br>

            <div class="traditional">
                <%= s.label :dtCommentNumber, "Are the 800# signs on the DT Windows? " %>
                    <%= s.radio_button :dtCommentNumber ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :dtCommentNumber ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <%= s.label :accuracyComment, "COMMENTS:" %><br>
                <%= s.text_area :accuracyComment, size: "60x4"%><br>

        </div>
        <div id="hospitality">
            <H1>HOSPITALITY</H1>
            <%= s.label :otName, "Did the Order Taker:" %><br>
                <%= s.text_field :otName, placeholder: "Name" %><br>

            <%= s.label :presell, "PRE-SELL you the appropriate item? " %>
                <%= s.radio_button :presell ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :presell ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :upsell, "Upsell you to a meal or Lg EVM? " %>
                <%= s.radio_button :upsell ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :upsell ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :repeatOrderAsk, "Repeat you entire order and ask, 'Is that correct?' " %>
                <%= s.radio_button :repeatOrderAsk ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :repeatOrderAsk ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :cashierName, "Did the Cashier:" %><br>
                <%= s.text_field :cashierName, placeholder: "Name" %><br>

            <%= s.label :cashierGreeting, "Provide a friendly greeting and closing? " %>
                <%= s.radio_button :cashierGreeting ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :cashierGreeting ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :cashierAsk, "ASK, 'Did your order include ______?' (should be one of the unique items in your order) " %>
                <%= s.radio_button :cashierAsk ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :cashierAsk ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :presenterName, "Did the Presenter:" %><br>
                <%= s.text_field :presenterName, placeholder: "Name" %><br>

            <%= s.label :presenterGreet, "Provide a friendly greeting and closing? " %>
                <%= s.radio_button :presenterGreet ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :presenterGreet ,"No"%><span class="shopRadioButton">No</span><br>

            <div class="pulledForwardNo">
                <%= s.label :presenterTell, "TELL you, 'Here is your order with _____.' (should be one of the unique items in your order) " %>
                    <%= s.radio_button :presenterTell ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :presenterTell ,"No"%><span class="shopRadioButton">No</span><br>
            </div>
            <div>
                <%= s.label :pullForwardPresenterName, "If you were pulled forward, did the pull forward presenter:" %><br>
                    <%= s.text_field :pullForwardPresenterName, placeholder: "Name" %><br>
                <%= s.label :pfTell, "TELL you, 'Here is your order with _____.' (should be one of the unique items in your order) " %>
                    <%= s.radio_button :pfTell ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :pfTell ,"No"%><span class="shopRadioButton">No</span>
            </div>

            <%= s.label :hospitalityComment, "COMMENTS:" %><br>
                <%= s.text_area :hospitalityComment, size: "60x4"%><br>

        </div>
        <div id="quality">
            <h1>QUALITY</h1>
            <%= s.label :fresh, "Were all products properly prepared and fresh and hot?  Neatly assembled? " %>
                <%= s.radio_button :fresh ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :fresh ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :friesGood, "Were fries fresh and properly salted? Hashbrown hot and properly cooked?" %>
                <%= s.radio_button :friesGood ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :friesGood ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :drinkGood, "Did the beverage have good taste?  (Cold/hot, carbonated, prepared correctly,stickered)" %>
                <%= s.radio_button :drinkGood ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :drinkGood ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :qualityComment, "COMMENTS:" %><br>
                <%= s.text_area :qualityComment, size: "60x4"%><br>

        </div>
        <div id="cleanliness">
            <h1>CLEANLINESS</h1>
            <div class="traditional">
                <%= s.label :codClean, "Is The COD Area Clean? " %>
                    <%= s.radio_button :codClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :codClean ,"No"%><span class="shopRadioButton">No</span><br>
                <%= s.label :dtClean, "Is the DT Lane Clean? " %>
                    <%= s.radio_button :dtClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :dtClean ,"No"%><span class="shopRadioButton">No</span><br>
                <%= s.label :lotClean, "Is the Parking Lot Clean? " %>
                    <%= s.radio_button :lotClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :lotClean ,"No"%><span class="shopRadioButton">No</span><br>
                <%= s.label :corralClean, "Is the Corral Clean?" %>
                    <%= s.radio_button :corralClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :corralClean ,"No"%><span class="shopRadioButton">No</span><br>
                <%= s.label :lidsClosed, "Are the Dumpster Lids Closed?" %>
                    <%= s.radio_button :lidsClosed ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :lidsClosed ,"No"%><span class="shopRadioButton">No</span><br>
                <%= s.label :dtGlassClean, "Are the DT Glass and Frame Clean?" %>
                    <%= s.radio_button :dtGlassClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :dtGlassClean ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <%= s.label :windowsClean, "Are Lobby Doors and Windows Clean? " %>
                <%= s.radio_button :windowsClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :windowsClean ,"No"%><span class="shopRadioButton">No</span><br>

            <div class="traditional">
                <%= s.label :trashFull, "Are the outside trash bins full and overflowing? " %>
                    <%= s.radio_button :trashFull ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :trashFull ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <%= s.label :commentSignVisible, "Are the 800# signs on the Entry Doors? " %>
                <%= s.radio_button :commentSignVisible ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :commentSignVisible ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :floorClean, "Are the Floors Clean? " %>
                <%= s.radio_button :floorClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :floorClean ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :tableClean, "Are the Tables Clean? " %>
                <%= s.radio_button :tableClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :tableClean ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :drinkClean, "Is the Beverage Bar Clean? " %>
                <%= s.radio_button :drinkClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :drinkClean ,"No"%><span class="shopRadioButton">No</span><br>

            <div class="wm">
                <%= s.label :ventsClean, "Are Ceiling Vents Clean? " %>
                    <%= s.radio_button :ventsClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :ventsClean ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <%= s.label :sanitizer, "Are Sanitizers Available? " %>
                <%= s.radio_button :sanitizer ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :sanitizer ,"No"%><span class="shopRadioButton">No</span><br>

            <div class="traditional">
                <%= s.label :tvOn, "Are the Televisions in the Lobby and Playplace on the correct channels? " %>
                    <%= s.radio_button :tvOn ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :tvOn ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <div class="wm">
                <%= s.label :tvOn, "Are the Televisions in the Lobby on and playing a movie? " %>
                    <%= s.radio_button :tvOn ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :tvOn ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <div class="traditional">
                <%= s.label :restroomClean, "Are the Restrooms Clean? " %>
                    <%= s.radio_button :restroomClean ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :restroomClean ,"No"%><span class="shopRadioButton">No</span><br>
            </div>

            <%= s.label :insideTrash, "Are the trash bins full and overflowing? " %>
                <%= s.radio_button :insideTrash ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :insideTrash ,"No"%><span class="shopRadioButton">No</span><br>

            <div class="traditional">
                <%= s.label :crewRoom, "Is the Crew Room Clean & Organized? " %>
                    <%= s.radio_button :crewRoom ,"Yes"%><span class="shopRadioButton">Yes</span>
                    <%= s.radio_button :crewRoom ,"No"%><span class="shopRadioButton">No</span>
                    <%= s.radio_button :crewRoom ,"N/A"%><span class="shopRadioButton">N/A</span><br>
            </div>

            <%= s.label :cleanComment, "COMMENTS:" %><br>
                <%= s.text_area :cleanComment, size: "60x4"%><br>

        </div>
        <div id="foodSafety">
            <H1>FOOD SAFETY</H1>
            <%= s.label :uhcTimer, "Are UHC timers being used correctly? " %>
                <%= s.radio_button :uhcTimer ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :uhcTimer ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :prepTimer, "Are times on the prep table being used and are current? " %>
                <%= s.radio_button :prepTimer ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :prepTimer ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :bunTimer, "Are the buns held correctly with times marked? " %>
                <%= s.radio_button :bunTimer ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :bunTimer ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :tenderCorrect, "Are Chicken Tenders Held in The 2 Drawer Correctly? " %>
                <%= s.radio_button :tenderCorrect ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :tenderCorrect ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :tenderDate, "Secondary Shelf Life on Oldest Package:" %><br>
                <span>Date: </span><%= s.date_field :tenderDate%>
                <span>Time: </span><%= s.time_field :tenderTime%><br>

            <%= s.label :qtrCorrect, "Is the HOTG 4:1 Held in the 2 Drawer Cooler Correctly? " %>
                <%= s.radio_button :qtrCorrect ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :qtrCorrect ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :qtrDate, "Secondary Shelf Life on Oldest 4:1 Package:" %><br>
                <span>Date: </span><%= s.date_field :qtrDate%>
                <span>Time: </span><%= s.time_field :qtrTime%><br>

            <%= s.label :glove, "Are Glove Procedures Followed in The Grill Area? " %>
                <%= s.radio_button :glove ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :glove ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :pieTimer, "Are the pies held correctly with times marked? " %>
                <%= s.radio_button :pieTimer ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :pieTimer ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :saladTimer, "Are the salads held correctly with times marked? " %>
                <%= s.radio_button :saladTimer ,"Yes"%><span class="shopRadioButton">Yes</span>
                <%= s.radio_button :saladTimer ,"No"%><span class="shopRadioButton">No</span><br>

            <%= s.label :foodSafetyComment, "COMMENTS:" %><br>
                <%= s.text_area :foodSafetyComment, size: "60x4"%><br>

            <%= s.hidden_field :score %>
        </div>
        <%= s.submit %>
    <% end %>
</div>
<div id="score">
    <h1></h1>
</div>
 