<p id="notice"><%= notice %></p>

<h1>User List</h1>
    <div class="row">

<% @users.each do |s| %>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= s.first_name + "   " + s.last_name %></h5>
                    <p class="card-text"><%= s.position %> </p>
                    <a href="users\<%= s.id %>\edit" class="btn btn-light">Edit User</a>
                    <a href="#" class="btn btn-light">Delete User</a>
                </div>
            </div>
        </div>
<% end %>
    </div>

<br>

<%= link_to 'New User', new_user_path %>
