<p id="notice"><%= notice %></p>
<div class="row" >
    <div class="col" style="margin-bottom: 10px;">
        <div class="card text-dark" style="height: 100%;background-color: #EEECE0;">
            <div class="card-body" style="box-shadow: 6px 8px 6px black;">
                <h5 class="card-title text-center">Users</h5>
                <div class="row justify-content-md-center">
                    <% if session[:authority] === 1 %>
                        <%= link_to 'All Users', users_path, :class => "btn btn-light" %> |
                        <%= link_to 'Add User', new_user_path, :class => "btn btn-light" %> |
                    <% end %>
                    <%= link_to 'Edit My Info', edit_user_path(@user), :class => "btn btn-light" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col" style="margin-bottom: 10px;">
        <div class="card text-dark" style="height: 100%;background-color: #EEECE0;"  >
            <div class="card-body" style="box-shadow: 6px 8px 6px black;">
                <h5 class="card-title text-center">Comments</h5>
                <div class="row justify-content-md-center" >
                    <% if session[:authority] === 1 || session[:authority] === 6 %>
                        <%= link_to 'Open Comments', open_path, :class => "btn btn-light" %> |
                        <%= link_to 'Add Comment', new_comment_path, :class => "btn btn-light" %>
                    <% end %>
                </div>
                <div class="row justify-content-md-center" style="margin-top:10px;" >
                    <%= form_tag("/find_comment", method: "get") do %>
                        <%= label_tag(:case_number, "Case Number:") %>
                        <%= text_field_tag(:case_number) %>
                        <%= submit_tag("Search", class:"btn btn-light")%>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card text-dark" style="height: 100%;background-color: #EEECE0;" >
            <div class="card-body" style="box-shadow: 6px 8px 6px black;">
                <h5 class="card-title text-center">Restaurants</h5>
                <div class="row justify-content-md-center">
                    <%= link_to 'All Restaurants', stores_path, :class => "btn btn-light" %>
                    <% if session[:authority] === 1 || session[:authority] === 6 %> |
                        <%= link_to 'Add Restaurant', new_store_path, :class => "btn btn-light" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% if session[:authority] === 1 || session[:authority] === 2 || session[:authority] === 3 || session[:authority] === 6 %>
        <div class="col">
            <div class="card text-dark" style="height: 100%;background-color: #EEECE0;"  >
                <div class="card-body" style="box-shadow: 6px 8px 6px black;">
                    <h5 class="card-title text-center">Guests</h5>
                    <div class="row justify-content-md-center">
                        <%= link_to 'All Guests', guests_path, :class => "btn btn-light" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>


