<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-6">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-center">Users</h5>
                <div class="row justify-content-md-center">
                    <%= link_to 'All Users', users_path, :class => "btn btn-light" %> |
                    <%= link_to 'Add User', new_user_path, :class => "btn btn-light" %> |
                    <%= link_to 'Edit My Info', edit_user_path(@user), :class => "btn btn-light" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-center">Comments</h5>
                <div class="row justify-content-md-center">
                    <%= link_to 'All Comments', comments_path, :class => "btn btn-light" %> |
                    <%= link_to 'Open Comments', open_path, :class => "btn btn-light" %> |
                    <%= link_to 'Add Comment', new_comment_path, :class => "btn btn-light" %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-center">Restaurants</h5>
                <div class="row justify-content-md-center">
                    <%= link_to 'All Restaurants', stores_path, :class => "btn btn-light" %> |
                    <%= link_to 'Add Restaurant', new_store_path, :class => "btn btn-light" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-center">Guests</h5>
                <div class="row justify-content-md-center">
                    <%= link_to 'All Guests', guests_path, :class => "btn btn-light" %>
                </div>
            </div>
        </div>
    </div>
</div>


